html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #3f2f47;
    color:#f8beed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.color1 {color: #3f2f47;}
.color2 {color: #604068;}
.color3 {color: #916391;}
.color4 {color: #d98dcd;}
.color5 {color: #f8beed;}